body { 
    background:black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration:none;
    font-size:20px;
    font-weight:600;
    color:white;
    display:block;
}

p{
    color:white;
    font-size:12px;
}

/* CONTENT */

.content {
    width:600px;
    margin:0 auto;
    margin-top:50px;
}

.headwrap{
    width:100%;
    text-align:center;
    padding-top:15px;
}

.logo img {
    width:100%;
    max-width:40%;
}

.daftar a, .login a{
    width:100%;
    padding:10px 0;
    margin-top:20px;
    display:block;
}

.login {
    margin-top:10px;
    background:#a51c1c;
}


/* WELCOME */
.welcome{
    margin-top:10px;
}

.welcome img{
    width:100%;
    max-width:100%;
}

.welcome h2 {
    color:#ff8d54;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight:200;
    font-size:20px;
    text-align:center;
    margin:0;
}

/* TABLE layar*/
.text-info-layar table{
    background: #7614a9;
    width:100%;
    font-size:12px;
    max-width:100%;
    border:1px solid white;
    text-align:center;
    color:white;
}

.text-info table td {
    border-bottom:1px dashed white;
}

.text-info table span {
    color:#ffd600;
}
/* TABLE jangkar*/
.text-info-jangkar table{
    background: #d5b308;
    width:100%;
    font-size:12px;
    max-width:100%;
    border:1px solid white;
    text-align:center;
    color:white;
}

.text-info table td {
    border-bottom:1px dashed white;
}

.text-info table span {
    color:#ffd600;
}
/* TABLE visi*/
.text-info-visi table{
    background: #60010a;
    width:100%;
    font-size:12px;
    max-width:100%;
    border:1px solid white;
    text-align:center;
    color:white;
}

.text-info table td {
    border-bottom:1px dashed white;
}

.text-info table span {
    color:#ffd600;
}
/* TABLE jala*/
.text-info-jala table{
    background: #072f52;
    width:100%;
    font-size:12px;
    max-width:100%;
    border:1px solid white;
    text-align:center;
    color:white;
}

.text-info table td {
    border-bottom:1px dashed white;
}

.text-info table span {
    color:#ffd600;
}
/* TABLE jaring*/
.text-info-jaring table{
    background: #1187a2;
    width:100%;
    font-size:12px;
    max-width:100%;
    border:1px solid white;
    text-align:center;
    color:white;
}

.text-info table td {
    border-bottom:1px dashed white;
}

.text-info table span {
    color:#ffd600;
}
/* TABLE grup*/
.text-info-grup table{
    background: #a07f08;
    width:100%;
    font-size:12px;
    max-width:100%;
    border:1px solid white;
    text-align:center;
    color:white;
}

.text-info table td {
    border-bottom:1px dashed white;
}

.text-info table span {
    color:#ffd600;
}
/* TABLE arena*/
.text-info-arena table{
    background: #b800bb;
    width:100%;
    font-size:12px;
    max-width:100%;
    border:1px solid white;
    text-align:center;
    color:white;
}

.text-info table td {
    border-bottom:1px dashed white;
}

.text-info table span {
    color:#ffd600;
}
/* JADWAL BANK & TERPERCAYA*/
.jadwal-bank img, .terpercaya img{
    margin-top:20px;
    width:100%;
    max-width:100%;
}

/* COPYRIGHT */
.copyright p {
    color:#ff8d54;
    text-align:center;
}

@-webkit-keyframes blink1 {
        0%   { opacity: 1; background:#1ba57b; }
        30%   { opacity: 1; background:#1ba5a0; }
        50%   { opacity: 1; background:#1b70a5;}
        80% { opacity: 1; background:#1b3da5; }
        100% { opacity: 1; background:#591ba5; }
      }

.blink1 {
        animation: blink1 7s linear infinite;
        background:#1ba542;
 }

@media screen and (max-width: 480px)
 { .content{
    max-width: 96%;
    margin: 0 auto;
    }
    
    .login,.daftar{
        width:65%;margin:10px auto;
        font-size:16px;font-weight:700;
    }
    
    .logo img {
    width:100%;
    }
    
    p, li{text-align:justify; color:white; font-size:12px;}
    
    .welcome h2 {
        font-size:14px;
    }
        
 }
 
 @media screen and (max-width:320px)
 {
  .content{max-width:96%;margin:0 auto}
  
  p{text-align:justify; color:white; font-size:12px;}
  
  .welcome h2 {
        font-size:14px;
    }
    
}
.half{padding:50px;width:80%;margin:0 auto}.half h4{text-align:center;margin-bottom:20px}.tab{position:relative;margin-bottom:1px;width:100%;color:#fff;overflow:hidden}input{position:absolute;opacity:0;z-index:-1}label{position:relative;display:block;padding:0 0 0 1em;background:#16a085;font-weight:700;line-height:3;cursor:pointer}label h5{font-size:16px;padding:10px;text-transform:none}.blue label{background:#2980b9}.tab-content{max-height:0;overflow:hidden;background:#1abc9c;-webkit-transition:max-height .35s;-o-transition:max-height .35s;transition:max-height .35s}.blue .tab-content{background:#3498db}.tab-content p{margin:1em}input:checked~.tab-content{max-height:100%}label::after{position:absolute;right:0;top:0;display:block;width:3em;height:3em;line-height:3;text-align:center;-webkit-transition:all .35s;-o-transition:all .35s;transition:all .35s}input[type=checkbox]+label::after{content:"+"}input[type=radio]+label::after{content:"\25BC"}input[type=checkbox]:checked+label::after{transform:rotate(315deg)}input[type=radio]:checked+label::after{transform:rotateX(180deg)}